.window-frame {
    position: absolute;
    border: 1px solid #000;
    padding: 0.24%;
    background-color: #aaa;
    max-width: 50%;
    max-height: 80%;
}

.window-frame-mobile {
    position: absolute;
    border: 1px solid #000;
    padding: 0.24%;
    background-color: #aaa;
    max-width: 80%;
    max-height: 80%;
}

.window-frame-header {
    display: flex;
    height: 3vh;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    background-color: #888;
    color: #fff;
    font-weight: bold;
    font-size: 2vh;
    cursor: grab;
    padding: 0.3%;
    padding-left: 1%;
    padding-bottom: 0;
}

.window-frame-header.active {
    background-color: #1c1fc7;
}

.window-frame-header.dragging {
    cursor: grabbing;
    background-color: #1416a5;
}

.window-frame-close-btn {
    background: #bbb;
    color: black;
    border: 1px solid black;
    border-radius: 0;
    font-family: w95;
    cursor: pointer;
    font-size: 2vh;
}

.window-frame-body {
    border: 1px solid black;
    background-color: #ddd;
    margin-top: 0.5%;
}


    /*      START MENU      */

  .start-menu {
    display: flex;
    flex-direction: column;
    width: 86%;
    /* gap: 1%; */
  }

  .start-menu-btn {
    display: flex;
    flex-grow: 1;
    font-family: w95;
    font-size: 3vh;
    max-height: 11.5%;
    width: 90%;
    /* background-color: transparent; */
    background-color: #cccccc;
    border: 0;
    /* text-align: center; */
    margin-left: 18.4%;
    margin-top: 3%;
    align-items: center;
    gap: 6%;
  }

  .start-menu :hover {
    background-color: #1f2676;
    color: #fff;
  }

  .start-menu-btn-icon {
    max-height: 70%;
    margin-left: 4%;
  }

  .start-menu-btn-text {
    margin-top: 3%;
  }

    /*      ABOUT PAGE       */


.about-wrapper {
  display:flex;
  flex-direction: row;
  padding: 1%;
  gap: 1%;
  flex-shrink: 1;
  flex-basis: content;
}

.about-div-side {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.about-pfp {
    /* height: fit-content; */
    /* max-width: 100%; */
    border: 1px solid black;
}

.about-div-links {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 3vh;
    padding: 5%;
}

.about-div-links p {
  margin: 1vh;
 }

.about-div-links p:hover {
  color: #555;
  cursor: pointer;
}

.about-body {
    display: flex;
    width: 70%;
    flex-direction: column;
    background-color: #bbb;
    border: solid 1px black;
    padding: 1%;
}

.about-div-upper {
    flex-grow: 1;
}

.about-div-text {
    display: flex;
    flex-direction: column;
}

.about-div-text h1 {
  font-size: 4vh;
  font-weight: bold;
}

.about-div-bio{
  font-weight: bold;
  text-align: center;
}

.about-div-bio p{
  margin: 0;
  font-size: 1.0rem;
  line-height: 4pt;
  font-weight: bold;
}

.about-div-bio h3{
  line-height: 16pt;
}

.about-div-lower {
  display: grid;
  align-items: center;
  justify-items: center;
}

.about-div-lower h4{
  grid-area: 1 / 1;
  font-size: 2vh;
  width: 40%;
}

.about-pic {
  z-index: 1;
  grid-area: 1 / 1;
  width: auto;
  max-width: 100%;
}


    /*      MUSIC PAGE          */


.music-wrapper {
  display:flex;
  flex-direction: row;
   padding: 1%;
  flex-shrink: 1;
}

.music-body {
  display: flex;
  flex-direction: column;
  background-color: #bbb;
  border: solid 1px black;
  padding: 1%;
  font-size: 0.8rem;
  text-align: center;
  max-width: 70%;
  min-width: 0;
}

.music-pic {

}

.music-div-side {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  min-width: 0;
  padding:1%;
}

.music-div-side p {
  line-height: 14pt;
}


    /*      PAINT PAGE          */

    
.paint-body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #ddd;
}

.paint-upper-div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: red;
    /* min-height: 400px; */
}

.paint-tool-div {
    flex-grow: 1;
    max-width: 20%;
    background-color: purple;
}

.paint-canvas-div {
    flex-grow: 1;
    background-color: blue;
}

.paint-color-div {
    background-color: green;
    max-height: 20%;
}


    /*      BUG REPORT PAGE          */

.bug-wrapper {
  display:flex;
  flex-direction: row;
  padding: 3%;
  gap: 3%;
  flex-shrink: 1;
  flex-basis: content;
}

.bug-report-pic {
  border: solid 1px black;
  max-height: 16vh;
}

.bug-body {
  display: flex;
  flex-direction: column;
  background-color: #bbb;
  border: solid 1px black;
  padding: 2%;
  font-size: 1vh;
  text-align: center;
  max-width: 70%;
  min-width: 0;
}
