#root {
    text-align: center;
    font-family: w95;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    overscroll-behavior: contain none;
}

@font-face {
  font-family: w95;
  src: url('./assets/W95FA.otf');
}

.app-layout {
    display:flexbox;
}

.app-desktop {
    position: absolute;
    top: 0; left: 0;
    background-color: #469;
    width: 100vw;
    height: 100vh;
}

.app-desktop-window-space {
    display: flex;
}

.desktop-element-wrapper {
    /* height: 100vh; */
    display: flex;
    /* flex-direction: row; */
    /* flex-grow: 1; */
    /* align-content: baseline; */
}

.bug-pic {
    position: absolute;
    bottom: 8vh; right: 1vw;
    max-width: 8vw;
    border: 1px solid black;
    z-index: 1;
}

.bug-pic-mobile {
    position: absolute;
    bottom: 8vh; right: 2vw;
    max-width: 16vw;
    border: 1px solid black;
    z-index: 1;
}

.app-start-menu {
  position: absolute;
  /* position-anchor: --task-anchor; */
  /* position-area: bottom; */
  bottom: 0;
  left: 0;
  /* margin-top: 10vh; */
  /* vertical-align: bottom; */
  width: 50vh;
  min-width: 16vw;
  max-width: 100vw;
  /* height: auto; */
  display: flex;
  /* flex-grow: 1; */
  /* padding: 0; margin: 0; border: 0; */
  /* max-width: 54vw; */
  /* min-height: 540px; */
  margin-bottom: 6.2vh;
  /* height: fit-content; */
  max-height: 70vh;
  /* align-items:baseline; */
  /* flex-grow: 1; */
  z-index: 1000;
  background-image: url('./assets/StartMenuBG.webp');
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: red; */
}

        /* TASK BAR */


.task-bar-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #aaa;
    z-index: 1002;
    anchor-name: --task-anchor;
}

.task-bar {
    display: flex;
    /* gap: 5px; */
    gap: 0.3%;
    /* margin: 5px; */
    margin: 0.6vh;
    height: 5vh;
    max-height: 5vh;
}

.start-btn-wrapper {
    display: flex;
}

.start-btn {
    min-width: 13vh;
    max-width: fit-content;
    background-image: url(assets/BtnStartImg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.start-btn:hover {
    filter: brightness(84%);
    cursor: pointer;
}

.task-btn-wrapper {
    flex-grow: 1;
    display: flex;
    gap: 0.5%;
    align-items: center;
    min-width: 0;
}

.task-btn {
    display:flex;
    flex-shrink: 1;
    height:100%;
    width: 24vw;
    min-width: 10vw;
    background-image: url(assets/BtnTaskBg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
}

.task-btn:hover {
    filter: brightness(84%);
    cursor: pointer;
}

.btn-text {
    margin: 0;
    /* justify-content: center; */
    color: black;
    font-size: 3vh;
    font-family: w95;
    margin-left: 4%;
}

.clock-layout {
    display: flex;
}

.clock {
    flex-grow: 1;
    display: flex;
    height: 100%;
    white-space: nowrap;
    background-image: url(assets/ClockAreaImg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
}


.clock-text {
    padding-left: 1vh;
    padding-right: 1vh;
    color: black;
    font-size: 3vh;
    font-family: w95;
}

.watermark {
  position: fixed;
  margin-top: 0;
  top: 1vh; right: 1vw;
  color: white;
  font-family: w95;
  font-size: 4vh;
}