#root {
    text-align: center;
    font-family: w95;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    overscroll-behavior: contain none;
}

@font-face {
  font-family: w95;
  src: url('./assets/W95FA.otf');
}

.app-layout {
    display:flexbox;
}

.app-desktop {
    position: absolute;
    top: 0; left: 0;
    background-color: #469;
    width: 100vw;
    height: 100vh;
}

.app-desktop-window-space {
    display: flex;
}


.app-start-menu {
  position: absolute;
  bottom: 6vh; left: 0%;
  min-width: 370px;
  display: grid;
  /* max-width: 54vw; */
  min-height: 540px;
  /* max-height: 80vh; */
  /* align-items:baseline; */
  /* flex-grow: 1; */
  z-index: 1000;
}

.bug-pic {
    position: absolute;
    bottom: 8vh; right: 1vw;
    max-width: 8vw;
    border: 1px solid black;
    z-index: 1;
}

.bug-pic-mobile {
    position: absolute;
    bottom: 8vh; right: 2vw;
    max-width: 16vw;
    border: 1px solid black;
    z-index: 1;
}

.desktop-element-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: baseline;
}

        /* TASK BAR */


.task-bar-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #aaa;
    z-index: 1001;
}

.task-bar {
    display: flex;
    gap: 5px;
    margin: 5px;
    
    height: 5vh;
    max-height: 5vh;
}

.start-btn-wrapper {
    display: flex;
}

.start-btn {
    min-width: 13vh;
    max-width: fit-content;
    background-image: url(assets/BtnStartImg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.start-btn:hover {
    filter: brightness(84%);
    cursor: pointer;
}

.task-btn-wrapper {
    flex-grow: 1;
    display: flex;
    gap: 0.5%;
    align-items: center;
    min-width: 0;
}

.task-btn {
    display:flex;
    flex-shrink: 1;
    height:100%;
    width: 24vw;
    min-width: 10vw;
    background-image: url(assets/BtnTaskBg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
}

.task-btn:hover {
    filter: brightness(84%);
    cursor: pointer;
}

.btn-text {
    margin: 0;
    /* justify-content: center; */
    color: black;
    font-size: 3vh;
    font-family: w95;
    margin-left: 4%;
}

.clock-layout {
    display: flex;
}

.clock {
    flex-grow: 1;
    display: flex;
    height: 100%;
    white-space: nowrap;
    background-image: url(assets/ClockAreaImg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
}


.clock-text {
    padding-left: 1vh;
    padding-right: 1vh;
    color: black;
    font-size: 3vh;
    font-family: w95;
}

.watermark {
  position: fixed;
  margin-top: 0;
  top: 1vh; right: 1vw;
  color: white;
  font-family: w95;
  font-size: 4vh;
}